*{
    margin: 0;
    padding: 0;
    /* color: black; */
}

.datepicker-container{
    box-sizing: border-box;
    width: 200px;
}

.datepicker-header{
    display: flex;
    box-sizing: border-box;
    width: 200px;
    border: 1px solid black;
}

.datepicker-header > *{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.datepicker-header input{
    width: 100%;
}

.datepicker-body{
    box-sizing: border-box;
    width: 200px;
    border: 2px solid black;
}

.datepicker-date{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.date{
    align-content: center;
    font-size: 13.5px;
}

.arrow-left, .arrow-right{
    border: 0 none transparent;
    background-color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.datepicker-days{
    display: flex;
    justify-content: center;
}

.datepicker-days > p{
    padding: 5px 10px;
}

.datepicker-calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.datepicker-numbers{
    border: 1px solid black;
}

.datepicker-calendar > *{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 4px;
}

