*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list{
    display: flex;
    list-style: none;
    padding: 10px;
    position: relative;
}

.list > *{
    padding: 20px 50px;
    cursor: pointer;
}

.tooltip{
    display: flex;
    position: absolute;
    top: -20px;
    transform:translate(-40%, -50%);
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 220px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    visibility: hidden;
}

.tooltip::after{
    content: "";
    position: absolute;
    width: 20px;
    top: 60px;
    left: 100px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    visibility: hidden;
}

.tip:hover .tooltip{
    visibility:visible;
}

.tip:hover .tooltip::after{
    visibility:visible;
}