*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 30%;
    height: 70%;
    margin: auto;
    padding: 2%;
    border: 1px dotted black;
}
.container > *{
    padding:5% 0% 5% 0%;
}

.container-title{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.square-black{
    width: 25px;
    height: 25px;
    background: black;
    display: block;
    border-radius: 20%;
}

.container-title > p{
    font-size: 16px;
}

.container-body > select{
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    border: 2px solid black;
}

.container-repo{
    width: 90%;
    height: 100%;
    background-color: rgb(215, 221, 224);
    justify-items: center;
    padding: 5%;
    border-radius: 10px;
}


.container-repo-founded{
    width: 90%;
    height: 100%;
    padding: 5%;
    border: 2px solid black;
    border-radius: 10px;
}

.container-repo > p{
    font-size: 12px;
    align-self: center;
}

.container-repo > .title-rep, .description-repo, .container-icons{
    padding: 2% 0% 2% 0%;
}

.title-repo{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.description-repo{
    font-size: 12px;
    text-align: justify;
    color: gray;
}

.container-icons{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.button-refresh{
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 2px 0px 2px 0px;
}

@media (max-width: 768px) {

    .container{
        width: 40%;
    }
    
}