*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 30%;
    height: 70%;
    margin: auto;
    padding: 5%;
    border: 1px dotted black;
}
.container > *{
    padding:5% 0% 5% 0%;
}

.container-title{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.square-black{
    width: 25px;
    height: 25px;
    background: black;
    display: block;
    border-radius: 20%;
}

.container-title > p{
    font-size: 16px;
}

.container-body > select{
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    border: 2px solid black;
}

.container-repo{
    width: 100%;
    height: 70px;
    background-color: rgb(215, 221, 224);
    justify-items: center;
    align-content: center;
    border-radius: 10px;
}

.container-repo > p{
    font-size: 12px;
}