*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-title{
    text-align: center;
    margin: 2%;
}

.container-title > *{
    margin: 4%;
}

.container-title > p{
    color: gray;
}

.container-changelog{
    display: flex;
    justify-content: center;
}

.changelog{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.color-gray{
    color: gray;
}

.changelog:last-child:after{
    content: "";
    position: absolute;
    width: 3px;
    height:65%;
    left: 42%;
    background-color: black;
    z-index: 1;
}


.changelog p{
    padding-top:  45px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-button{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.button{
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: black ;
    color: white;
}

.button:hover{
    cursor: pointer;
}